<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/70540294?v=4" alt="My Image">
                <div class="card-body text-center">
                  <p class="card-text">Name:</p>
                  <p>Username:</p>
                  <p>Joined on:</p>
                  <div class="follow">
                    <p><i class="fas fa-user"></i>Followers</p>
                    <p><i class="fas fa-user"></i>Following</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
