<footer>
    <div class="container">
        <div class="d-flex justify-content-center">
            <ul>
                <li><a href="https://www.facebook.com/njihi.chymu" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Njihia413" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/maureen-njihia-9812931ab/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://instagram.com/njihi_413" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
